@using DataAccess.Const;
@using DataAccess.Enum
@{
    int? role = Context.Session.GetInt32("role");
}
<section class="products section bg-gray" style="height: 100vh">
    <div class="container-fluid">
        <div class="row">
            @if (role == (int)RoleEnum.Customer)
            {
                <div class="col-lg-2 title text-center">
                    <ul class="list-group">
                        <li class="list-group-item" style="margin-left: 5%"><a href="Profile">Edit profile</a></li>
                        <li class="list-group-item" style="margin-left: 5%;background-color: #1bbb1b"><a href="ChangePassword">Change password</a></li>
                    </ul>
                </div>
            }
            <div class="col-lg-@(role == (int) RoleEnum.Customer ? 9 : 12) title text-center" style="margin-left: @(role == (int) RoleEnum.Customer ? 4 : 0)%">
                <p style="color:red">@ViewData["error"]</p>
                <p style="color:green">@ViewData["success"]</p>
                <form method="POST" class="text-left clearfix" action="/ChangePassword">
                    <div class="form-group">
                        <input type="password" name="CurrentPassword" class="form-control" placeholder="Current Password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="NewPassword" class="form-control" placeholder="New Password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="ConfirmPassword" class="form-control" placeholder="Confirm Password" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-main text-center">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>